*
/app/*
!/app
!/app/etc
/app/etc/*
!/app/code
!/app/code/*
!/app/design
!/app/design/*
!/app/etc/config.php

!/packages
!/packages/*
!/packages/laravel-framework-dummy/*
!/composer.json
!/composer.lock
!/robots.txt
!/.gitignore
